:root {
	--color: hsla(0, 0%, 0%, 0.871);
	--bgColor: hsl(0, 0%, 98%);
}

.section {
	&.fullHeight {
		height: 100vh;
		height: 100dvh;
	}
}

.content-width-container {
	max-width: 1200px;
	margin-inline: auto;
}
